<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Generate Browser Statistics</title>
  </head>
  <body data-analytics-client-id="some-long-number.apps.googleusercontent.com">
    <button id="authorize" style="display:none">Authorize</button>
    <div id="data">
      <select id="account" style="display:none">
        <option>Select...</option>
      </select>
      <select id="properties" style="display:none">
        <option>Select...</option>
      </select>
      <select id="profiles" style="display:none">
        <option>Select...</option>
      </select>
    </div>

    <pre id="output"></pre>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="analytics.js"></script>
    <script src="browser_stats.js"></script>
    <script>
      Analytics.init(function () {
        var analytics, client_id, dropdowns, stats_handler;
        client_id = $('body').data('analytics-client-id');
        dropdowns = {
          accounts: {
            type: 'accounts',
            selector: '#account'
          },
          properties: {
            type: 'web properties',
            selector: '#properties'
          },
          profiles: {
            type: 'profiles',
            selector: '#profiles'
          }
        };
        stats_handler = function (data) {
          analytics.print_counts_to_browser('Browser', data.by_browser.desktop, data.time_slices, data.monthly_totals, '#output');
        };
        analytics = new BrowserAnalytics(client_id, dropdowns, '#authorize', BrowserAnalytics.default_dimensions, 'generate_browser_counts_from_data', stats_handler, new Date(2012, 0, 1)); // 2012-01-01
        analytics.run();
      });
    </script>
  </body>
</html>
